<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="reader-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'global.home' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-list-header>
      <ion-label><strong>{{'global.filters' | translate}}</strong></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-select [label]="filterLocationsHeaderText" label-placement="floating" [multiple]="true" (ionChange)="changeCitiesFilter($event)" [(ngModel)]="selectedLocations">
        <ion-select-option value="{{city.name}}" *ngFor="let city of citiesList">{{city.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [label]="filterDealersHeaderText" label-placement="floating" [multiple]="true" (ionChange)="changeDealerFilter($event)" [(ngModel)]="selectedDealers">
        <ion-select-option value="{{dealer.name}}" *ngFor="let dealer of dealersList">{{dealer.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label><strong>{{'global.clients' | translate}}</strong></ion-label>
      <ion-button *ngIf="!showingDeleted" (click)="toggleShowingDeleted()">{{'global.see_deleted' | translate}}</ion-button>
      <ion-button *ngIf="showingDeleted" (click)="toggleShowingDeleted()">{{'global.not_see_deleted' | translate}}</ion-button>
    </ion-list-header>
    <ion-item *ngFor="let client of clientsList">
      <ion-label (click)="openDetailModal(client)">{{client.name}}</ion-label>
      <ion-icon name="create-outline" slot="end" (click)="editClient(client)" *ngIf="!client.deleted"></ion-icon>
      <ion-icon name="trash-outline" slot="end" style="margin-left: 10px;" (click)="presentDeleteAlert(client)" *ngIf="!client.deleted"></ion-icon>
      <ion-icon name="arrow-undo-outline" slot="end" style="margin-left: 10px;" (click)="recoverClient(client)" *ngIf="client.deleted"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="add-client-alert" (click)="addClient()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
