<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <i class="fas fa-house fa-xl"></i>
      <ion-label>{{'global.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="author">
      <i class="fas fa-user fa-xl"></i>
      <ion-label>{{'global.author'| translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="legal">
      <i class="fas fa-file fa-xl"></i>
      <ion-label>{{'global.legal' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
