<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'global.author' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true" class="ion-margin-top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="center-colum">
          <img alt="no image" src="{{imgUrl}}" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="center-colum">
        <label class="author-name">{{authorName}}</label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="full" class="ion-margin-top">
    <ion-item>
      <i class="fa-brands fa-linkedin" slot="start"></i>
      <ion-label>{{authorUrl}}</ion-label>
    </ion-item>
    <ion-item>
      <i class="fa-solid fa-envelope"  slot="start" ></i>
      <ion-label>{{authorEmail}}</ion-label>
    </ion-item>
    <ion-item>
      <i class="fa-solid fa-mobile"  slot="start"></i>
      <ion-label>{{authorPhone}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
