<ion-header>
  <ion-toolbar>
    <ion-title>{{'global.client_info' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">{{'global.ok' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-input labelPlacement="floating" label="{{'global.client_name_label' | translate}}" [(ngModel)]="name" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="{{'global.client_car_brand_label' | translate}}" [(ngModel)]="brand" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="{{'global.client_car_model_label' | translate}}" [(ngModel)]="model" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="{{'global.client_dealer_label' | translate}}" [(ngModel)]="dealer" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="{{'global.client_location_label' | translate}}" [(ngModel)]="location" disabled></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
